#nav{
    text-align: right;
    margin-right: 0%;
}
a:hover{
    color: black;
}
a{
    font-style: italic;
    font-family:Arial, Helvetica, sans-serif;
    font-size: small;
}
.container{
    position: relative;
    text-align: center;
    color: white;
    margin: auto;
    z-index: 1;
}
.centered{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    color: rgb(255, 255, 255);
    font-style: italic;
}
#logo{
    top:0;
    left:0;
    position: relative;
    margin: 0;
    width: 20px;
    height: 50px;
}
.down{
    position: absolute;
    top: 70%;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    font-style: italic;
    font-size: xx-large;
    border-style: dashed;
    border-collapse: no collapse;
    border-bottom: dashed;
    text-align: center;
}
#h1id{

    text-align: center;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}
.art{
    text-align: center;
    border:10px dotted blue;
    padding: 0%;
}
#h1id2{
    color: red;
    border-style: solid;
    padding: 0px;
    margin: 40px;
}
#p1{
    font-family: Verdana, 'Geneva', Tahoma, sans-serif;
    color: darkblue;
    font-size: xx-large;
}
#p2{
    font-family: 'Times New Roman', Times, serif;
    color: chocolate;
    font-size: xx-large;
}
.form-style{
    font: 100% arial, helvetica, sans-serif;
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
    background: white;
}
.form-style h1{
    background: rgb(240, 157, 4);
    padding: 20px;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
}
.form-style input[type="text"],
.form-style input[type="number"],
.form-style textarea,
.form-style select
{
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    font-style: italic;
    color: #555;
    border: 1px solid #ccc;
    background: #fff;
    margin-bottom: 2%;
    padding: 3%;
}
.form-style input[type="text"]:focus,
.form-style input[type="number"]:focus,
.form-style textarea:focus,
.form-style select:focus
{
    box-shadow: 0 0 5px #43d1af;
    padding: 3%;
    border: 1px solid #43d1af;
}
.form-style input[type="submit"],
.form-style input[type="submit"]
{
    width: 100%;
    padding: 3%;
    background: orange;
    border-bottom: 2px solid #30c29e;
    color: #fff;
}
.form-style input[type="submit"]:hover,
.form-style input[type="submit"]:hover{
    background-color: aqua;
}
